<div class="text-right" fxLayout="row">
  <div style="margin:15px auto;">Issue NFT</div>
  <!-- <div><a style="border: solid 2px;" (click)="Back()" mat-stroked-button color="primary" class="mr"><mat-icon>arrow_back</mat-icon> &nbsp; Back</a></div> -->
</div>
<div class="issue-container">
  <h1>Employee details</h1>
  <div>
    <form [formGroup]="formGroup" style="margin-left: 4%; gap: 10px;">
      <mat-form-field class="w-45" appearance="outline" style="margin-top: 20px">
        <mat-label> Employee </mat-label>
        <input formControlName="employee" matInput type="text" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" [value]="item" (click)="getData()">
            {{ item }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="w-25 mt w-39" appearance="outline">
        <mat-label>Practice </mat-label>
        <input type="text" placeholder="Enter practice" matInput formControlName="practice" />
      </mat-form-field>
      <mat-form-field class="w-25 mt" appearance="outline">
        <mat-label>Circle </mat-label>
        <input type="text" placeholder="Enter circle" matInput formControlName="circle" />
      </mat-form-field>
    </form>
  </div>
  <h1>Nft details</h1>
  <div>
    <form [formGroup]="issueNftFrom" class="formclass" style="margin-left: 4%;">
      <mat-form-field class="w-30" appearance="outline">
        <mat-label>User Name </mat-label>
        <input type="text" placeholder="Enter UserName" matInput [value]="issueNftFrom.get('userName').value"
          disabled="true" />
        <mat-error><strong>User Name </strong>can't be blank</mat-error>
      </mat-form-field>
      <mat-form-field class="w-30" appearance="outline">
        <mat-label>First Name </mat-label>
        <input type="text" placeholder="Enter FirstName" matInput [value]="issueNftFrom.get('fName').value"
          disabled="true" />
        <mat-error><strong>First Name </strong>can't be blank</mat-error>
      </mat-form-field>

      <mat-form-field class="w-30" appearance="outline">
        <mat-label>Last Name </mat-label>
        <input type="text" placeholder="Enter LastName" matInput [value]="issueNftFrom.get('lName').value"
          disabled="true" />
        <mat-error><strong>Last Name </strong>can't be blank</mat-error>
      </mat-form-field>

      <mat-form-field class="w-30" appearance="outline">
        <mat-label>Email Id </mat-label>
        <input type="email" matInput placeholder="Enter Email" [value]="issueNftFrom.get('emailId').value"
          disabled="true" [errorStateMatcher]="customError" />
        <mat-error *ngIf="getFormControl('emailId').hasError('required')"
          [innerHTML]="getErrorMessage('emailId', 'required')"></mat-error>
        <mat-error *ngIf="getFormControl('emailId').hasError('email')"
          [innerHTML]="getErrorMessage('emailId', 'email')"></mat-error>
      </mat-form-field>

      <div class="form-2 form-postion">
        <mat-form-field class="w-31 mr" appearance="outline">
          <mat-label>Practice</mat-label>
          <mat-select formControlName="practice" (selectionChange)="select()">
            <mat-option value="Platform Engineering">Platform Engineering</mat-option>
            <!-- <mat-option value="Experience">Experience</mat-option> -->
            <!-- <mat-option value="Cloud">Cloud</mat-option> -->
            <mat-option value="Data & AI">Data & AI</mat-option>
            <mat-option value="Quality Engineering">Quality Engineering</mat-option>
            <mat-option value="Helth Tech">Health Tech</mat-option>
            <!-- <mat-option value="Web3">Web3.0</mat-option> -->
          </mat-select>
          <mat-error><strong>Parent Cricle </strong>can't be blank</mat-error>
        </mat-form-field>

        <mat-form-field class="w-31" appearance="outline">
          <mat-label>Circle</mat-label>
          <mat-select formControlName="circle" [errorStateMatcher]="customError" (selectionChange)="select()">
            <div *ngIf="issueNftFrom.get('practice').value === 'Platform Engineering'">
              <mat-option value="Architecture">Architecture</mat-option>
              <mat-option value="Experience">Experience</mat-option>
              <mat-option value="Web 3.0">Web 3.0</mat-option>
              <mat-option value="Products & Platforms">Products & Platforms</mat-option>
              <mat-option value="Operations">Operations</mat-option>
              <mat-option value="Enterprise solutions(SAP, SF)">Enterprise solutions(SAP, SF)</mat-option>
            </div>



            <div *ngIf="issueNftFrom.get('practice').value === 'Experience'">
              <mat-option value="Backend">Backend</mat-option>
              <mat-option value="Frontend">Frontend</mat-option>
              <mat-option value="Frontend-SAP & SF">Frontend-SAP & SF</mat-option>
            </div>

            <div *ngIf="issueNftFrom.get('practice').value === 'Cloud'">
              <mat-option value="Cloud Native Development">Cloud Native Development</mat-option>
              <mat-option value="Cloud Operations">Cloud Operations</mat-option>
              <mat-option value="Cloud Architecture">Cloud Architecture</mat-option>
            </div>

            <div *ngIf="issueNftFrom.get('practice').value === 'Data & AI'">
              <mat-option value="AI ML">AI ML</mat-option>
                <mat-option value="Data Engineering">Data Engineering</mat-option>
                <mat-option value="Data Analysis-Full Stack">Data Analysis-Full Stack</mat-option>
            </div>

            <div *ngIf="
                issueNftFrom.get('practice').value === 'Quality Engineering'
              ">
              <mat-option value="Quality Engineering">Quality Engineering</mat-option>
            </div>
            <div *ngIf="issueNftFrom.get('practice').value === 'Helth Tech'">
              <mat-option value="Health Tech">Health Tech</mat-option>
            </div>

            <div *ngIf="issueNftFrom.get('practice').value === 'Web3'">
              <mat-option value="Blockchain">Blockchain</mat-option>
              <mat-option value="Metaverse">Metaverse</mat-option>
              <mat-option value="Gaming">Gaming</mat-option>
            </div>
          </mat-select>
          <mat-error *ngIf="getFormControl('circle').hasError('required')"
            [innerHTML]="getErrorMessage('circle', 'touched')"></mat-error>
        </mat-form-field>
        <img src="{{ imgs }}" class="pop" alt="" width="40%" />
      </div>
      <div class="form-2">
        <mat-form-field class="w-31 mr" appearance="outline">
          <mat-label>Mastery Level</mat-label>
          <mat-select formControlName="masteryLevel" (selectionChange)="skillseletect()">
            <div *ngIf="issueNftFrom.get('circle').value !== null">
              <mat-option value="Apprentice">Apprentice</mat-option>
              <mat-option value="CraftSmith">Craftsmith</mat-option>
              <mat-option value="Artisan">Artisan</mat-option>
              <mat-option value="Master">Master</mat-option>
              <mat-option value="GrandMaster">Grandmaster</mat-option>
            </div>
          </mat-select>
          <mat-error>select the <strong>Circle</strong></mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="w-31"appearance="outline">
        <mat-label>URL </mat-label>
        <input
          type="text"
          placeholder="Enter url"
          matInput
          formControlName="url"
        />
        <mat-error><strong>URL </strong>can't be blank</mat-error>
      </mat-form-field> -->
      </div>
      <div class="buttonSubmit">
        <button mat-raised-button [disabled]="isCLicked" [disabled]="issueNftFrom.invalid" color="primary"
          (click)="final(); isCLicked = true" class="btnSUbmit">
          Issue NFT
        </button>
      </div>
    </form>
  </div>
  <div class="spinner" *ngIf="isSpinner">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
</div>