@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Roboto:wght@400;500;700;900&family=Ultra&display=swap");

.main-header {
  padding-top: 100px;
}

.welcome-img {
  margin: 0 auto !important;
  text-align: center;
}

.welcome {
  width: 300px;
}
.welcome-text {
  font-family: "Fredoka One", cursive;
  font-weight: 700;
  font-size: 30px;
}

.login {
  margin-top: 50px;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 25px;
}
.login-butn {
  margin-top: 10px;
}

.login-btn {
  display: flex;
  gap: 36px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: medium;
  margin-top: 17px;
}

.login-name {
  margin-top: 5px;
}

.main-admin{
  margin-top: -78px;
}

.admin-header{
  width: 448px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.admin-logo{
  width: 100px;
}
.admin-text{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.admin-form{
  margin: 0 auto;
  width: 448px;
}

.updationLink{
  width: 448px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-top: -14px;
}
.new:hover{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.Create-from{
  margin-top: -30px;
}

.mt{
  margin-top: -12px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  /* margin: .25em 0; */
  margin: 0 0 !important;
}


.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,175 0,175 C 60.93477226466469,207.1664728118639 121.86954452932937,239.33294562372785 166,221 C 210.13045547067063,202.66705437627215 237.4565941473473,133.83469031695262 283,119 C 328.5434058526527,104.1653096830474 392.30407888128155,143.32829310846176 448,178 C 503.69592111871845,212.67170689153824 551.3270903275265,242.85213724920035 588,226 C 624.6729096724735,209.14786275079965 650.3875598086124,145.26315789473685 693,143 C 735.6124401913876,140.73684210526315 795.1226704380238,200.09523117185228 849,216 C 902.8773295619762,231.90476882814772 951.1217584392928,204.35591741785404 1008,181 C 1064.8782415607072,157.64408258214596 1130.3902958048056,138.4810991567316 1172,144 C 1213.6097041951944,149.5189008432684 1231.3170583414842,179.71968595521955 1272,189 C 1312.6829416585158,198.28031404478045 1376.341470829258,186.6401570223902 1440,175 C 1440,175 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,175 0,175 C 51.12362208887362,198.34895186232785 102.24724417774723,221.69790372465567 156,201 C 209.75275582225277,180.30209627534433 266.1346453778847,115.55733696370508 314,112 C 361.8653546221153,108.44266303629492 401.21417431071404,166.07274842052394 451,192 C 500.78582568928596,217.92725157947606 561.0086573792593,212.15166935419919 599,209 C 636.9913426207407,205.84833064580081 652.7511961722488,205.3205741626794 694,212 C 735.2488038277512,218.6794258373206 801.9865579317453,232.5660339950831 851,236 C 900.0134420682547,239.4339660049169 931.3025721007693,232.41528985698804 984,204 C 1036.6974278992307,175.58471014301196 1110.8031536651774,125.77280657696477 1167,110 C 1223.1968463348226,94.22719342303523 1261.4848132385207,112.49348383515292 1304,129 C 1346.5151867614793,145.50651616484708 1393.2575933807398,160.25325808242354 1440,175 C 1440,175 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,175 0,175 C 44.730180549314014,150.91620185571915 89.46036109862803,126.8324037114383 132,132 C 174.53963890137197,137.1675962885617 214.8887361548019,171.5865870099659 269,197 C 323.1112638451981,222.4134129900341 390.9846942821644,238.8212482486981 438,237 C 485.0153057178356,235.1787517513019 511.17248671654033,215.12841999524176 565,215 C 618.8275132834597,214.87158000475824 700.3253588516745,234.6650717703349 746,237 C 791.6746411483255,239.3349282296651 801.5260778767614,224.2112929234185 840,221 C 878.4739221232386,217.7887070765815 945.5703296412805,226.48975653599092 1008,209 C 1070.4296703587195,191.51024346400908 1128.1926035581168,147.82968093261786 1173,149 C 1217.8073964418832,150.17031906738214 1249.6592561262523,196.19151973353775 1292,208 C 1334.3407438737477,219.80848026646225 1387.1703719368738,197.40424013323113 1440,175 C 1440,175 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,175 0,175 C 39.437587565095555,156.48499828174153 78.87517513019111,137.96999656348305 123,129 C 167.1248248698089,120.03000343651696 215.93688704433106,120.60501202780937 264,116 C 312.06311295566894,111.39498797219063 359.37727669248466,101.60995532527954 411,126 C 462.62272330751534,150.39004467472046 518.5540061857305,208.95516667107242 577,201 C 635.4459938142695,193.04483332892758 696.4066985645933,118.56937799043061 746,122 C 795.5933014354067,125.43062200956939 833.8191995558964,206.76732136720506 870,219 C 906.1808004441036,231.23267863279494 940.3165032118216,174.3613365407492 985,168 C 1029.6834967881784,161.6386634592508 1084.9147875968174,205.7873324697983 1143,206 C 1201.0852124031826,206.2126675302017 1262.0243464009093,162.48933358005763 1312,150 C 1361.9756535990907,137.51066641994237 1400.9878267995455,156.25533320997118 1440,175 C 1440,175 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,175 0,175 C 60.93477226466469,207.1664728118639 121.86954452932937,239.33294562372785 166,221 C 210.13045547067063,202.66705437627215 237.4565941473473,133.83469031695262 283,119 C 328.5434058526527,104.1653096830474 392.30407888128155,143.32829310846176 448,178 C 503.69592111871845,212.67170689153824 551.3270903275265,242.85213724920035 588,226 C 624.6729096724735,209.14786275079965 650.3875598086124,145.26315789473685 693,143 C 735.6124401913876,140.73684210526315 795.1226704380238,200.09523117185228 849,216 C 902.8773295619762,231.90476882814772 951.1217584392928,204.35591741785404 1008,181 C 1064.8782415607072,157.64408258214596 1130.3902958048056,138.4810991567316 1172,144 C 1213.6097041951944,149.5189008432684 1231.3170583414842,179.71968595521955 1272,189 C 1312.6829416585158,198.28031404478045 1376.341470829258,186.6401570223902 1440,175 C 1440,175 1440,700 1440,700 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,350 0,350 C 55.397419968807,315.4821433291919 110.794839937614,280.96428665838374 158,299 C 205.205160062386,317.03571334161626 244.218060218351,387.62499669565676 297,411 C 349.781939781649,434.37500330434324 416.332919188982,410.53572655898915 458,393 C 499.667080811018,375.46427344101085 516.450263025721,364.2320970683867 553,353 C 589.549736974279,341.7679029316133 645.866028708134,330.53588516746413 707,317 C 768.133971291866,303.46411483253587 834.0856221417431,287.62436226175686 889,302 C 943.9143778582569,316.37563773824314 987.7914827248937,360.96666578550844 1029,355 C 1070.2085172751063,349.03333421449156 1108.7484469586823,292.50897459620927 1150,303 C 1191.2515530413177,313.49102540379073 1235.2147294403765,390.9974358296545 1284,410 C 1332.7852705596235,429.0025641703455 1386.3926352798117,389.50128208517276 1440,350 C 1440,350 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,350 0,350 C 42.53258082423538,348.5080361627323 85.06516164847076,347.01607232546456 127,336 C 168.93483835152924,324.98392767453544 210.27193423035237,304.44374686087394 263,312 C 315.7280657696476,319.55625313912606 379.8471014301197,355.2089402310396 426,376 C 472.1528985698803,396.7910597689604 500.33966004916874,402.7204922149674 553,384 C 605.6603399508313,365.2795077850326 682.7942583732057,321.9090909090909 741,323 C 799.2057416267943,324.0909090909091 838.4833064580085,369.643144148669 879,366 C 919.5166935419915,362.356855851331 961.2725157947605,309.51833249623303 1008,304 C 1054.7274842052395,298.48166750376697 1106.426630362949,340.2835258663988 1156,366 C 1205.573369637051,391.7164741336012 1253.0209627534432,401.34756403817175 1300,396 C 1346.9790372465568,390.65243596182825 1393.4895186232784,370.3262179809141 1440,350 C 1440,350 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,350 0,350 C 45.40445161119776,324.8975653599091 90.80890322239551,299.79513071981813 142,303 C 193.19109677760449,306.20486928018187 250.16883872161566,337.71704248063656 306,352 C 361.83116127838434,366.28295751936344 416.5157418911417,363.33669935763567 455,353 C 493.4842581088583,342.66330064236433 515.7681937138175,324.9361600888207 566,330 C 616.2318062861825,335.0638399111793 694.4114832535886,362.9186602870814 741,354 C 787.5885167464114,345.0813397129186 802.5858732718285,299.3891987628539 839,284 C 875.4141267281715,268.6108012371461 933.2450236590976,283.5245446615031 986,319 C 1038.7549763409024,354.4754553384969 1086.4340320917815,410.5126225911338 1137,412 C 1187.5659679082185,413.4873774088662 1241.0188479737765,360.4249649739618 1292,341 C 1342.9811520262235,321.5750350260382 1391.4905760131119,335.7875175130191 1440,350 C 1440,350 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,350 0,350 C 47.0058156440826,339.25159269343624 94.0116312881652,328.50318538687253 138,318 C 181.9883687118348,307.49681461312747 222.95929049142188,297.2388511459462 270,295 C 317.0407095085781,292.7611488540538 370.1512067461471,298.54141002934256 419,317 C 467.8487932538529,335.45858997065744 512.4358825239896,366.5955087366835 564,371 C 615.5641174760104,375.4044912633165 674.1052631578948,353.07655502392345 730,342 C 785.8947368421052,330.92344497607655 839.1430648444315,331.09827116762267 888,351 C 936.8569351555685,370.90172883237733 981.3224774643793,410.53036030558565 1026,395 C 1070.6775225356207,379.46963969441435 1115.5670252980517,308.78028761003463 1154,294 C 1192.4329747019483,279.21971238996537 1224.409421343414,320.3484892542758 1271,339 C 1317.590578656586,357.6515107457242 1378.7952893282932,353.8257553728621 1440,350 C 1440,350 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,350 0,350 C 55.397419968807,315.4821433291919 110.794839937614,280.96428665838374 158,299 C 205.205160062386,317.03571334161626 244.218060218351,387.62499669565676 297,411 C 349.781939781649,434.37500330434324 416.332919188982,410.53572655898915 458,393 C 499.667080811018,375.46427344101085 516.450263025721,364.2320970683867 553,353 C 589.549736974279,341.7679029316133 645.866028708134,330.53588516746413 707,317 C 768.133971291866,303.46411483253587 834.0856221417431,287.62436226175686 889,302 C 943.9143778582569,316.37563773824314 987.7914827248937,360.96666578550844 1029,355 C 1070.2085172751063,349.03333421449156 1108.7484469586823,292.50897459620927 1150,303 C 1191.2515530413177,313.49102540379073 1235.2147294403765,390.9974358296545 1284,410 C 1332.7852705596235,429.0025641703455 1386.3926352798117,389.50128208517276 1440,350 C 1440,350 1440,700 1440,700 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,525 0,525 C 57.00974120383832,513.0533453170848 114.01948240767663,501.1066906341696 163,517 C 211.98051759232337,532.8933093658304 252.93181157313177,576.6265827804066 301,561 C 349.06818842686823,545.3734172195934 404.2532712997964,470.3869782442041 450,469 C 495.7467287002036,467.6130217557959 532.0551032276825,539.8255042427768 576,544 C 619.9448967723175,548.1744957572232 671.5263157894738,484.311004784689 716,473 C 760.4736842105262,461.688995215311 797.8396336144226,502.9304766184673 843,517 C 888.1603663855774,531.0695233815327 941.1151497528351,517.9670887414418 994,529 C 1046.8848502471649,540.0329112585582 1099.6997673742367,575.2011684157657 1145,578 C 1190.3002326257633,580.7988315842343 1228.0857807502182,551.2282375954956 1276,537 C 1323.9142192497818,522.7717624045044 1381.957109624891,523.8858812022522 1440,525 C 1440,525 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,525 0,525 C 58.3289539771075,543.5025906050914 116.657907954215,562.0051812101827 169,560 C 221.342092045785,557.9948187898173 267.69732216024744,535.4818657643606 304,527 C 340.30267783975256,518.5181342356394 366.5528034047952,524.0673557323747 410,544 C 453.4471965952048,563.9326442676253 514.0914642205715,598.2487113061408 568,590 C 621.9085357794285,581.7512886938592 669.0813397129186,530.9377990430623 721,499 C 772.9186602870814,467.0622009569377 829.5831769277539,454.0000925216104 882,467 C 934.4168230722461,479.9999074783896 982.5859525760659,519.0618308704962 1025,538 C 1067.414047423934,556.9381691295038 1104.0730127679822,555.7525839964048 1148,557 C 1191.9269872320178,558.2474160035952 1243.121996352005,561.9278331438843 1293,557 C 1342.878003647995,552.0721668561157 1391.4390018239974,538.5360834280579 1440,525 C 1440,525 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,525 0,525 C 34.8035898384837,564.2083851013772 69.6071796769674,603.4167702027545 121,586 C 172.3928203230326,568.5832297972455 240.37487113061405,494.5413042903593 288,482 C 335.62512886938595,469.4586957096407 362.8933358005763,518.4180126358085 408,522 C 453.1066641994237,525.5819873641915 516.0517856670807,483.78664516640663 572,494 C 627.9482143329193,504.21335483359337 676.8995215311005,566.4354066985647 724,564 C 771.1004784688995,561.5645933014353 816.350128208517,494.4717280393349 865,488 C 913.649871791483,481.5282719606651 965.6999656348305,535.6776811440959 1016,563 C 1066.3000343651695,590.3223188559041 1114.850009252161,590.8175473842817 1154,580 C 1193.149990747839,569.1824526157183 1222.8999973565253,547.0521293187766 1269,536 C 1315.1000026434747,524.9478706812234 1377.5500013217375,524.9739353406117 1440,525 C 1440,525 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,525 0,525 C 40.663710380924684,515.7196727378466 81.32742076184937,506.43934547569324 127,497 C 172.67257923815063,487.56065452430676 223.3540273335272,477.96229083507365 272,500 C 320.6459726664728,522.0377091649264 367.25646990404186,575.7114911840123 415,583 C 462.74353009595814,590.2885088159877 511.6200930503053,551.1917444288773 561,521 C 610.3799069496947,490.8082555711227 660.2631578947369,469.52153110047846 708,492 C 755.7368421052631,514.4784688995215 801.3272753707473,580.7221311692088 858,571 C 914.6727246292527,561.2778688307912 982.4277406222741,475.58994422268626 1026,475 C 1069.572259377726,474.41005577731374 1088.961762140157,558.9180919400461 1129,570 C 1169.038237859843,581.0819080599539 1229.725210817098,518.7376880171297 1285,499 C 1340.274789182902,479.2623119828703 1390.137394591451,502.13115599143515 1440,525 C 1440,525 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,525 0,525 C 57.00974120383832,513.0533453170848 114.01948240767663,501.1066906341696 163,517 C 211.98051759232337,532.8933093658304 252.93181157313177,576.6265827804066 301,561 C 349.06818842686823,545.3734172195934 404.2532712997964,470.3869782442041 450,469 C 495.7467287002036,467.6130217557959 532.0551032276825,539.8255042427768 576,544 C 619.9448967723175,548.1744957572232 671.5263157894738,484.311004784689 716,473 C 760.4736842105262,461.688995215311 797.8396336144226,502.9304766184673 843,517 C 888.1603663855774,531.0695233815327 941.1151497528351,517.9670887414418 994,529 C 1046.8848502471649,540.0329112585582 1099.6997673742367,575.2011684157657 1145,578 C 1190.3002326257633,580.7988315842343 1228.0857807502182,551.2282375954956 1276,537 C 1323.9142192497818,522.7717624045044 1381.957109624891,523.8858812022522 1440,525 C 1440,525 1440,700 1440,700 Z"
    );
  }
}
