@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Roboto:wght@400;500;700;900&family=Ultra&display=swap");

.main-header {
  padding-top: 100px;
}

.welcome-img {
  margin: 0 auto !important;
  text-align: center;
}

.welcome {
  width: 300px;
}
.welcome-text {
  font-family: "Fredoka One", cursive;
  font-weight: 700;
  font-size: 30px;
}

.login {
  margin-top: 50px;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 25px;
}
.login-butn {
  margin-top: 10px;
}

.login-btn {
  display: flex;
  gap: 36px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: medium;
  margin-top: 17px;
}

.login-name {
  margin-top: 5px;
}

.main-admin{
  margin-top: -78px;
}

.admin-header{
  width: 448px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.admin-logo{
  width: 100px;
}
.admin-text{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.admin-form{
  margin: 0 auto;
  width: 448px;
}

.updationLink{
  width: 448px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-top: -14px;
}
.new:hover{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.Create-from{
  margin-top: -30px;
}

.mt{
  margin-top: -12px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  /* margin: .25em 0; */
  margin: 0 0;
}

.mat-form-field-wrapper {
  padding-bottom: 20px;
}

.total-from{
}

.snack{
  padding-top: 10px;
  height: 5px;
  width: 462px;
  border-radius: 30px 30px 30px 30px;
  padding: 23px;
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
}

.snackDesp{
  color: white;
  font-size: 120%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.matsnackbutton{
  background-color: rgb(50, 50, 50);
  color: rgb(222, 62, 116);
  font-size: 100%;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 63.41822666173388,95.89522752497226 126.83645332346777,91.79045504994451 182,90 C 237.16354667653223,88.20954495005549 284.07241336786285,88.73340732519422 338,91 C 391.92758663213715,93.26659267480578 452.8738932050808,97.27591564927859 502,105 C 551.1261067949192,112.72408435072141 588.432013811814,124.16293007769144 634,129 C 679.567986188186,133.83706992230856 733.398051547663,132.07236403995563 784,113 C 834.601948452337,93.92763596004437 881.9757799975336,57.54761376248612 940,64 C 998.0242200024664,70.45238623751388 1066.6988284622025,119.73718091009988 1119,124 C 1171.3011715377975,128.26281908990012 1207.2289061536565,87.50366259711431 1258,76 C 1308.7710938463435,64.49633740288569 1374.3855469231717,82.24816870144284 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 41.932026143790864,119.66082130965594 83.86405228758173,139.3216426193119 141,133 C 198.13594771241827,126.67835738068813 270.475816993464,94.37425083240844 336,93 C 401.524183006536,91.62574916759156 460.2326797385622,121.1813540510544 509,129 C 557.7673202614378,136.8186459489456 596.5934640522876,122.90033296337403 651,119 C 705.4065359477124,115.09966703662597 775.3934640522875,121.21731409544951 820,113 C 864.6065359477125,104.78268590455049 883.8326797385621,82.23041065482796 932,79 C 980.1673202614379,75.76958934517204 1057.2758169934643,91.86104328523862 1123,89 C 1188.7241830065357,86.13895671476138 1243.0640522875815,64.32541620421753 1294,63 C 1344.9359477124185,61.67458379578247 1392.4679738562093,80.83729189789123 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 48.34638056480455,109.83248242693304 96.6927611296091,119.66496485386607 148,118 C 199.3072388703909,116.33503514613393 253.5753360463682,103.17262301146876 305,106 C 356.4246639536318,108.82737698853124 405.005894684918,127.64454310025894 456,123 C 506.994105315082,118.35545689974106 560.40108521396,90.24920458749538 621,90 C 681.59891478604,89.75079541250462 749.3897644592428,117.35863854975952 813,120 C 876.6102355407572,122.64136145024048 936.039856949069,100.31624121346651 980,89 C 1023.960143050931,77.68375878653349 1052.4508077444814,77.3763965963744 1105,80 C 1157.5491922555186,82.6236034036256 1234.156912073005,88.17817240103588 1294,92 C 1353.843087926995,95.82182759896412 1396.9215439634975,97.91091379948206 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 58.830238007152545,79.01595757799976 117.66047601430509,58.0319151559995 175,63 C 232.3395239856949,67.9680848440005 288.18833394993214,98.88829695400176 330,114 C 371.81166605006786,129.11170304599824 399.5861881859662,128.41489702799356 454,123 C 508.4138118140338,117.58510297200642 589.4669133062031,107.45211493402394 641,110 C 692.5330866937969,112.54788506597606 714.5461585892218,127.77664323591071 770,132 C 825.4538414107782,136.2233567640893 914.3484523369095,129.44131212233322 970,123 C 1025.6515476630905,116.5586878776668 1048.0600320631397,110.45810827475644 1099,106 C 1149.9399679368603,101.54189172524356 1229.4114194105314,98.726254778641 1291,98 C 1352.5885805894686,97.273745221359 1396.2942902947343,98.63687261067949 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,100 0,100 C 63.41822666173388,95.89522752497226 126.83645332346777,91.79045504994451 182,90 C 237.16354667653223,88.20954495005549 284.07241336786285,88.73340732519422 338,91 C 391.92758663213715,93.26659267480578 452.8738932050808,97.27591564927859 502,105 C 551.1261067949192,112.72408435072141 588.432013811814,124.16293007769144 634,129 C 679.567986188186,133.83706992230856 733.398051547663,132.07236403995563 784,113 C 834.601948452337,93.92763596004437 881.9757799975336,57.54761376248612 940,64 C 998.0242200024664,70.45238623751388 1066.6988284622025,119.73718091009988 1119,124 C 1171.3011715377975,128.26281908990012 1207.2289061536565,87.50366259711431 1258,76 C 1308.7710938463435,64.49633740288569 1374.3855469231717,82.24816870144284 1440,100 C 1440,100 1440,400 1440,400 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 53.71764705882353,195.70832408435072 107.43529411764706,191.41664816870144 154,182 C 200.56470588235294,172.58335183129856 239.97647058823537,158.04173140954495 290,173 C 340.0235294117646,187.95826859045505 400.65882352941173,232.41642619311875 455,233 C 509.34117647058827,233.58357380688125 557.3882352941177,190.29256381798004 618,172 C 678.6117647058823,153.70743618201996 751.7882352941176,160.41331853496115 807,164 C 862.2117647058824,167.58668146503885 899.4588235294118,168.05416204217536 952,185 C 1004.5411764705882,201.94583795782464 1072.3764705882354,235.37003329633743 1127,229 C 1181.6235294117646,222.62996670366257 1223.0352941176468,176.46570477247502 1273,165 C 1322.9647058823532,153.53429522752498 1381.4823529411765,176.7671476137625 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 55.344530768282155,210.57881366383032 110.68906153656431,221.1576273276606 161,214 C 211.3109384634357,206.8423726723394 256.5882846220249,181.9483043531878 316,173 C 375.4117153779751,164.0516956468122 448.9577999753361,171.0491552595881 497,184 C 545.0422000246639,196.9508447404119 567.5805154766309,215.85507460845974 623,221 C 678.4194845233691,226.14492539154026 766.7201381181404,217.53054630657297 824,208 C 881.2798618818596,198.46945369342703 907.5389320508077,188.0227401652485 949,191 C 990.4610679491923,193.9772598347515 1047.1241336786288,210.3784930324331 1098,214 C 1148.8758663213712,217.6215069675669 1193.9645332346772,208.46328770501913 1250,204 C 1306.0354667653228,199.53671229498087 1373.0177333826614,199.76835614749044 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 37.5586138858059,204.8386730792946 75.1172277716118,209.67734615858922 134,219 C 192.8827722283882,228.32265384141078 273.08970279935875,242.12928844493774 332,231 C 390.91029720064125,219.87071155506226 428.5239610309533,183.80550006165987 483,172 C 537.4760389690467,160.19449993834013 608.8144530768282,172.64871130842278 666,173 C 723.1855469231718,173.35128869157722 766.218226661734,161.59965470464914 813,169 C 859.781773338266,176.40034529535086 910.312640276236,202.95266987298064 964,209 C 1017.687359723764,215.04733012701936 1074.5312122333212,200.58966580342832 1125,191 C 1175.4687877666788,181.41033419657168 1219.5625107904796,176.6886669133062 1271,179 C 1322.4374892095204,181.3113330866938 1381.21874460476,190.6556665433469 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 65.0993710691824,193.50193612036009 130.1987421383648,187.0038722407202 184,186 C 237.8012578616352,184.9961277592798 280.3044025157233,189.48644715747935 331,197 C 381.6955974842767,204.51355284252065 440.58364779874216,215.0503391293624 487,208 C 533.4163522012578,200.9496608706376 567.3610062893083,176.31219632507091 621,173 C 674.6389937106917,169.68780367492909 747.9723270440251,187.7008755703539 806,191 C 864.0276729559749,194.2991244296461 906.7496855345912,182.8843013935134 959,192 C 1011.2503144654088,201.1156986064866 1073.02893081761,230.76191885559254 1131,235 C 1188.97106918239,239.23808114440746 1243.1345911949684,218.0680231841164 1294,208 C 1344.8654088050316,197.9319768158836 1392.4327044025158,198.96598840794178 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 53.71764705882353,195.70832408435072 107.43529411764706,191.41664816870144 154,182 C 200.56470588235294,172.58335183129856 239.97647058823537,158.04173140954495 290,173 C 340.0235294117646,187.95826859045505 400.65882352941173,232.41642619311875 455,233 C 509.34117647058827,233.58357380688125 557.3882352941177,190.29256381798004 618,172 C 678.6117647058823,153.70743618201996 751.7882352941176,160.41331853496115 807,164 C 862.2117647058824,167.58668146503885 899.4588235294118,168.05416204217536 952,185 C 1004.5411764705882,201.94583795782464 1072.3764705882354,235.37003329633743 1127,229 C 1181.6235294117646,222.62996670366257 1223.0352941176468,176.46570477247502 1273,165 C 1322.9647058823532,153.53429522752498 1381.4823529411765,176.7671476137625 1440,200 C 1440,200 1440,400 1440,400 Z"
    );
  }
}
.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 53.951905290418054,279.06740658527565 107.90381058083611,258.13481317055124 157,263 C 206.0961894191639,267.86518682944876 250.3366629670736,298.52815390307063 303,307 C 355.6633370329264,315.47184609692937 416.7495375508695,301.7525712171661 467,295 C 517.2504624491305,288.2474287828339 556.6651868294487,288.4615612282649 616,300 C 675.3348131705513,311.5384387717351 754.5897151313357,334.40118386977434 809,332 C 863.4102848686643,329.59881613022566 892.975952645209,301.93370329263774 942,298 C 991.024047354791,294.06629670736226 1059.5064742878283,313.86400295967445 1124,321 C 1188.4935257121717,328.13599704032555 1248.9981502034775,322.61028486866445 1301,317 C 1353.0018497965225,311.38971513133555 1396.5009248982612,305.6948575656678 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 60.70642495992108,288.01228264890864 121.41284991984216,276.0245652978173 175,271 C 228.58715008015784,265.9754347021827 275.0550252805524,267.91402145763965 330,264 C 384.9449747194476,260.08597854236035 448.367048957948,250.31934887162413 505,268 C 561.632951042052,285.68065112837587 611.4767788876557,330.8085830558638 660,337 C 708.5232211123443,343.1914169441362 755.7258354914293,310.44631890492053 805,302 C 854.2741645085707,293.55368109507947 905.6198791466273,309.40614132445427 952,309 C 998.3801208533727,308.59385867554573 1039.794647922062,291.92911579726234 1096,294 C 1152.205352077938,296.07088420273766 1223.201529165125,316.8773954864965 1283,321 C 1342.798470834875,325.1226045135035 1391.3992354174375,312.5613022567518 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 60.86022937476878,291.8142804291528 121.72045874953756,283.6285608583056 173,282 C 224.27954125046244,280.3714391416944 265.9783943766186,285.3000369959305 321,292 C 376.0216056233814,298.6999630040695 444.36596374398823,307.17129115797263 497,304 C 549.6340362560118,300.82870884202737 586.5577506474289,286.01479837217903 630,293 C 673.4422493525711,299.98520162782097 723.4030336662966,328.76951535331114 784,336 C 844.5969663337034,343.23048464668886 915.8301146873844,328.9071402145764 969,320 C 1022.1698853126156,311.0928597854236 1057.2765075841658,307.6019237883833 1101,304 C 1144.7234924158342,300.3980762116167 1197.0638549759526,296.6851646318905 1255,296 C 1312.9361450240474,295.3148353681095 1376.4680725120238,297.65741768405474 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 58.345640646195605,312.2469355037613 116.69128129239121,324.4938710075225 166,313 C 215.3087187076088,301.5061289924775 255.58051547663086,266.2714514736712 308,271 C 360.41948452336914,275.7285485263288 424.98665680108525,320.42032309779256 482,336 C 539.0133431989148,351.57967690220744 588.4728573190282,338.0472561351585 634,318 C 679.5271426809718,297.9527438648415 721.1219139228017,271.39065236157353 775,271 C 828.8780860771983,270.60934763842647 895.0394869897646,296.3901344185473 964,295 C 1032.9605130102354,293.6098655814527 1104.7201381181403,265.0488099642373 1149,270 C 1193.2798618818597,274.9511900357627 1210.0799605376742,313.41462572450365 1254,324 C 1297.9200394623258,334.58537427549635 1368.960019731163,317.2926871377482 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,300 0,300 C 53.951905290418054,279.06740658527565 107.90381058083611,258.13481317055124 157,263 C 206.0961894191639,267.86518682944876 250.3366629670736,298.52815390307063 303,307 C 355.6633370329264,315.47184609692937 416.7495375508695,301.7525712171661 467,295 C 517.2504624491305,288.2474287828339 556.6651868294487,288.4615612282649 616,300 C 675.3348131705513,311.5384387717351 754.5897151313357,334.40118386977434 809,332 C 863.4102848686643,329.59881613022566 892.975952645209,301.93370329263774 942,298 C 991.024047354791,294.06629670736226 1059.5064742878283,313.86400295967445 1124,321 C 1188.4935257121717,328.13599704032555 1248.9981502034775,322.61028486866445 1301,317 C 1353.0018497965225,311.38971513133555 1396.5009248982612,305.6948575656678 1440,300 C 1440,300 1440,400 1440,400 Z"
    );
  }
}