<div class="text-right" fxLayout="row">
    <div style="margin:15px auto;">NFTs Details</div>
    <!-- <div><a style="border: solid 2px;" (click)="Back()" mat-stroked-button color="primary" class="mr"><mat-icon>arrow_back</mat-icon> &nbsp; Back</a></div> -->
</div>
<div class="nft-container">
    <div>
        <img src="{{img}}" alt="" class="signleNgt-img">
    </div>
    <div>
        <table mat-table class="w-100" [dataSource]="nfts">
            <ng-container matColumnDef="nftId">
                <th mat-header-cell *matHeaderCellDef>NFT Id</th>
                <td mat-cell id="change" style="width:20% ;" (click)="view(nfts)" *matCellDef="let nfts">{{nfts.nftId}}</td>
            </ng-container>
            <ng-container matColumnDef="nftOwner">
                <th mat-header-cell *matHeaderCellDef >NFT Owner</th>
                <td mat-cell *matCellDef="let nfts; ">{{nfts.nftOwner}}</td>
            </ng-container>
            <ng-container matColumnDef="fName">
                <th mat-header-cell *matHeaderCellDef id="move">First Name</th>
                <td mat-cell *matCellDef="let nfts" id="move">
                    {{nfts.fName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="lName">
                <th mat-header-cell *matHeaderCellDef >Last Name</th>
                <td mat-cell *matCellDef="let nfts">{{nfts.lName}}</td>
            </ng-container>
            <ng-container matColumnDef="practice">
                <th mat-header-cell *matHeaderCellDef >Practice</th>
                <td mat-cell *matCellDef="let nfts" >{{nfts.practice}}</td>
            </ng-container>
            <ng-container matColumnDef="circle">
                <th mat-header-cell *matHeaderCellDef >Circle</th>
                <td mat-cell *matCellDef="let nfts" >{{nfts.circle}}</td>
            </ng-container>
            
            <ng-container matColumnDef="nftURL">
                <th mat-header-cell *matHeaderCellDef >NFT URL</th>
                <td mat-cell class="word" *matCellDef="let nfts">{{nfts.nftURL}}</td>
            </ng-container>
            
            <ng-container matColumnDef="nftStatus">
                <th mat-header-cell *matHeaderCellDef >NFT Status</th>
                <td mat-cell *matCellDef="let nfts">{{nfts.nftStatus}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"></tr>
            <tr mat-row *matRowDef="let bookings; columns:columnsToDisplay"></tr>
        </table>
    </div>
</div>