.text-right {
  text-align: end;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 400%;
  margin-bottom: 20px;
  color: #2f7cbb;
  padding-bottom: 10px;
  border-bottom: 2px solid lightblue;
}

.nft-container {
  max-width: 1600px;
  margin: 10px auto;
  position: relative;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.allnftprofile {
  width: 50px;
}
.displayImg {
  width: 150px;
  margin: 0 auto;
}

.example-card {
  max-width: 288px;
  transition: all 0.5s;
}

.example-card:hover{
  transform: scale(1.05);
}

.actions {
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
}
mat-form-field {
  width: 100%;

}

.form-data {
  width: 890px;
  margin: 0 auto;
}

.nftIDBreak{
    word-break: break-all;
    max-width: 200px;
    padding-right: 10px;
}

.noData{
  width: 600px;
}

.noDataAlign{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noDataText{
  font-weight: bolder;
    font-size: 75px;

}

.demo-paginator {
  width: 400px;
  display: flex;
  background-color: transparent;
  margin: 0 auto;
}