<div *ngIf="!isError">
    <h1 mat-dialog-title class="text-center font-weight-bold">Confirmation</h1>
    <div mat-dialog-content style="margin:0 auto ;"><h3>NFT has been issued successfully</h3></div>
    <div mat-dialog-actions fxLayoutAlign="end">
      <button
        mat-raised-button
        mat-dialog-close
        color="primary"
        (click)="confirm()"
      >
        Proceed
      </button>
    </div>
  </div>
  <div *ngIf="isError">
    <h1 mat-dialog-title class="text-center font-weight-bold">Error</h1>
  
    <div mat-dialog-content><h3>Something went wrong, Please try later!</h3></div>
  
    <div mat-dialog-actions fxLayoutAlign="end">
      <button mat-raised-button mat-dialog-close color="primary">Close</button>
    </div>
  </div>
  